.option {
  background-color: #58d29d;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: 0, 4s;
}

.option:hover {
  opacity: 1;
}

#options-container .option p {
  color: #fff;
  margin-bottom: 0;
}

.correct {
    background-color: rgb(115, 215, 242);
    font-weight: bold;
}

.wrong {
    background-color: #3c0e70;
    opacity: 0.4;
}