#welcome {
    text-align: center;
    max-width: 1000px;
    width: 50vw;
}

#welcome h2 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #4bc791;
}

#welcome p {
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
}

#welcome img {
    margin-top: 2rem;
}